:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
}

img {
  border-radius: 4px;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}
.store-name{
  position: relative;
  z-index: 1000;
  margin-left: 10px;
  font-size: 18px;
}
.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

button.reset {
  border: 0;
  background: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
/* For the header toggle button */
.header {
  background: transparent !important;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure store name is on the left, and icons on the right */
  position: absolute;
  width: 100%;
  top: 0;
}

.store-name {
  flex-shrink: 0; /* Prevent the store name from shrinking */
}
.header-left {
  display: flex;
  margin-right: 20px;
  align-items: center;
  gap: 10px;
}
.header-menu-item svg {
  font-weight: 200 !important; /* Lighten the icons */
}

.header-cta {
  display: flex;
  justify-content: flex-end; /* Position the CTAs on the right */
  align-items: center;
}

.cta-icons {
  display: flex;
  justify-content: flex-end; /* Align icons to the right */
  align-items: center;
}

.cta-icon {
  margin-left: 15px; /* Space out the icons */
  text-decoration: none;
}

.cta-icon:hover {
  cursor: pointer;
}

/* Ensure that the cart, account, and search toggle have consistent spacing and alignment */
header .cta-icons > * {
  margin-left: 15px;
}


.header-menu-mobile-toggle {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

/* Navigation Menu */
.header-menu-mobile {
  position: fixed;
  top: 0;
  left: -100%; /* Initially hidden off the screen */
  width: 250px; /* Width of the sliding menu */
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 1s ease-in-out; /* Smooth sliding transition */
  z-index: 999;
  padding-top: 60px; /* Adjust as needed for spacing */
}

/* When the menu is open */
.header-menu-mobile.open {
  left: 0; /* Slide in the menu */
}

/* Menu Items */
.header-menu-mobile .header-menu-item {
  display: block;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.header-menu-item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
}

.header-menu-item button {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
  padding: none !important;
}

.header-menu-mobile .header-menu-item a:hover {
  color: #0070f3; /* Highlight color */
}
/* Example of additional CSS */
.header-menu-mobile-toggle h3 {
  font-size: 30px; /* Adjust size */
  transition: color 0.3s ease; /* Smooth transition */
}

.header-menu-mobile-toggle h3:hover {
  color: #333; /* Optional hover effect */
}


/* Full Header for Mobile */
.header-full {
  background: transparent !important;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; /* Fixed position for sticky effect on mobile */
  top: 0;
  width: 100%;
  padding: 15px 20px; /* Add padding for better spacing on mobile */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.header-left-full {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-grow: 1; /* Take available space */
}

.store-name-full {
  font-size: 1.5rem; /* Increase size on mobile */
  font-weight: bold;
}

.header-cta-full {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px; /* Add space between CTA items */
}

.cta-icons-full {
  display: flex;
  gap: 15px;
  align-items: center;
}

.cta-icon-full {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.cta-icon-full:hover {
  cursor: pointer;
  color: #0070f3; /* Highlight on hover */
}

/* Mobile Menu */
.header-menu-mobile-toggle-full {
  background: none;
  border: none;
  font-size: 2.5rem; /* Larger toggle button */
  cursor: pointer;
  z-index: 1000;
}

/* Full Navigation Menu */
.header-menu-mobile-full {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%; /* Adjust width for mobile */
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 1s ease-in-out;
  z-index: 999;
  padding-top: 80px; /* Adjust for full header height */
}

/* When the menu is open */
.header-menu-mobile-full.open {
  left: 0; /* Slide in the menu */
}

/* Menu Items */
.header-menu-mobile-full .header-menu-item {
  display: block;
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.header-menu-item-full a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
}

.header-menu-item-full button {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
}

.header-menu-mobile-full .header-menu-item a:hover {
  color: #0070f3; /* Highlight color */
}

.header-menu-mobile-toggle-full h3 {
  font-size: 30px; /* Adjust size */
  transition: color 0.3s ease; /* Smooth transition */
}

.header-menu-mobile-toggle-full h3:hover {
  color: #333; /* Optional hover effect */
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantity {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
  display: flex;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}
/* Fullscreen container */

.home {
 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* Make the slider container full screen */
.slider-container {
  width: 100%; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  position: relative;
  overflow: hidden; /* Hide overflow */
}

/* Full-width horizontal slider */
.first-row-slider {
  width: 100%;
  height: 100vh;  /* Full screen height for the horizontal slider */
}

.vertical-slider {
  height: 100%;  /* Ensure vertical sliders take up the full height of their parent */
  width: 100%;
}




/* Ensure each image fills the entire screen and maintains aspect ratio */


/* Optional: Prevent spacing between slides */


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;  /* Fill the container vertically */
  object-fit: cover; /* Ensure the image/video is contained within the container */
  border-radius: 0px !important; /* Prevent border-radius issues */
  object-position: center center;
}

.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;  /* Fill the container vertically */
  object-fit: contain; /* Ensure the image/video is contained within the container */
  border-radius: 0px !important; /* Prevent border-radius issues */
}

.video-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the video is contained within the container */
  pointer-events: none; /* Make the video non-interactive */
}

.swiper-v {
  background: #eee;
}
.swiper-button-prev,
.swiper-button-next {
  color: #fff !important; /* White arrow color */
  background-color: transparent; /* Transparent background */
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  z-index: 1; /* Ensure buttons are on top of content */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-family: swiper-icons;
  font-size: 18px !important; /* Arrow size */
}


/* Change arrow color based on slide background */
.swiper-slide-dark .swiper-button-prev,
.swiper-slide-dark .swiper-button-next {
  color: #000 !important; /* Black arrow color */
}

/* Add class to slides with dark background */
.swiper-slide-dark {
  background-color: #333; /* Dark background color */
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: '>' !important; /* Right arrow icon */
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: '<' !important; /* Left arrow icon */
}
/* General footer container */
.new-footer-container {
  background-color: #333;
  color: white;
  height: 100vh;
  width: 100%;
}

/* Footer wrap */
.footer__wrap {
  margin: 0 auto;
  height: 100%;
}

/* Footer top container (White background) */
.footer-top-container {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-bottom: 2px solid #ddd;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}
/* Footer Top Container */
/* Newsletter Form */
.footer-newsletter {
  margin-bottom: 20px;
}

.newsletter-form__field-wrapper .field {
  display: flex;
  align-items: center;
  position: relative;
}

.field__input {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
  border-radius: 0px;
  transition: border-color 0.3s ease;
}

.field__input:focus {
  outline: none;
  border-color: #000;
}

.field__input:valid + .field__button {
  visibility: visible;
}

.newsletter-form__button {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  visibility: hidden;
  transition: visibility 0.3s ease;
}

.newsletter-form__button svg {
  fill: #000;
  width: 16px;
  height: 16px;
}

/* Social Links */
.slider-social-icon .list-social {
  display: flex;
  list-style: none;
  padding: 0;
}

.list-social__item {
  margin-right: 10px;
}

.list-social__link {
  text-decoration: none;
  color: #000;
}

.list-social__link:hover {
  text-decoration: underline;
}

/* Separator between links */
.list-social__item:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
  color: #ccc;
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  .field__input {
    font-size: 14px;
    padding: 8px 12px;
  }
  .newsletter-form__button svg {
    width: 14px;
    height: 14px;
  }
  .list-social__item {
    font-size: 14px;
    margin-right: 8px;
  }
}

@media (max-width: 480px) {
  .field__input {
    font-size: 12px;
    padding: 6px 10px;
  }
  .newsletter-form__button svg {
    width: 12px;
    height: 12px;
  }
  .list-social__item {
    font-size: 12px;
    margin-right: 6px;
  }
}
.footer-bottom-container {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 0 60px;
  flex-direction: column;
  align-items: center;
  height: 40vh;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}

/* Left footer menu (30% width) */
.left-footer-list {
  flex: 0 0 30%; /* 30% width */
  text-align: left;
}

/* Footer logo (40% width) */
.footer-logo-container {
  position: absolute;
  font-size: 48px;
  font-family:'Helvetica Neue' !important;
}

.footer-logo-container  h1{
  font-size: 48px;
}
/* Right footer menu (30% width) */
.right-footer-list {
  flex: 0 0 30%; /* 30% width */
  text-align: end;
}

/* Media query for medium-sized screens (md) and below */
@media (max-width: 648px) {
  .footer-logo-container {
    position: relative;
  }
 
  .footer-logo-container {
    order: -1; /* Move logo above left and right columns */
  }
  .left-footer-list, .right-footer-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}.footer_menu_list-ul {
  list-style: none;
  padding: 0;
}

.ft-menu-li {
  margin-bottom: 10px;
}

.ft-menu-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.ft-menu-link:hover {
  text-decoration: underline;
}

.footer-logo svg {
  width: 230px;
  height: auto;
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  .ft-menu-link {
    font-size: 14px;
  }
  .footer-logo svg {
    width: 180px;
  }
}

@media (max-width: 480px) {
  .ft-menu-link {
    font-size: 12px;
  }
  .footer-logo svg {
    width: 120px;
  }
}




.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2000;
}

.modal.slide-in {
  transform: translateY(0%);
}

.modal.slide-out {
  transform: translateY(-100%);
}

.modal header {
  width: 100%;
  padding: 16px;
  background: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal main {
  padding: 20px;
  flex: 1;
  width: 100%;
}

button.close-outside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}
.predictive-search {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.predictive-search input[type='search'] {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.predictive-search input[type='search']:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.predictive-search button {
  padding: 10px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.predictive-search button:hover {
  background-color: #0056b3;
}

/* Results List Style */
.predictive-search .results {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.predictive-search .results a {
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
}

.predictive-search .results a:hover {
  text-decoration: underline;
}

/* "View All Results" Link */
.predictive-search .view-all {
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

.predictive-search .view-all:hover {
  color: #0056b3;
}

.predictive-search-result-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.predictive-search-result-item:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

/* Thumbnail Style */
.predictive-search-result-item img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover;
}

/* Content Style */
.predictive-search-result-item .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.predictive-search-result-item .content h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  color: #333;
}

.predictive-search-result-item .content p {
  font-size: 0.875rem;
  margin: 4px 0 0;
  color: #777;
}

/* Price Style */
.predictive-search-result-item .price {
  font-size: 0.9rem;
  font-weight: 600;
  color: #007bff;
}
.collection {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-item {
  position: relative;
  margin-bottom: 20px;
}

.product-image {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.product-image:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.product-info {
  margin-top: 10px;
  text-align: center;
}

.product-info h4 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #666;
}

.product-info small {
  font-size: 14px;
  color: #999;
}
.search-page-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.search-page-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.search-form-container {
  display: flex;
  margin-bottom: 20px;
}

.search-input-wrapper {
  position: relative;
  width: 100%;
}

.search-input {
  width: 80vw;
  padding: 10px 40px 10px 10px; /* Add space for the search icon */
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  transition: border-color 0.3s ease;
  border-radius: 0px !important;
}

.search-input:focus {
  border-bottom-color: #333;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #666;
  pointer-events: none; /* Prevent interaction with the icon */
}

.error-message {
  color: red;
  text-align: center;
}

.search-results-container {
  margin-top: 20px;
}

.search-result {
  margin-top: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product-item {
  border-radius: 8px;
  width: fit-content;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-link {
  text-decoration: none;
  color: inherit;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-info {
  padding: 10px;
}

.product-info h4 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.product-info small {
  color: #555;
}
